* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}

ul {
  display: flex;
  gap: 50px;
}

